<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classificador de Notícias</title>
</head>
<body>
    <form action="" method="post">
        <label >Informe uma Notícia</label><br>
        <input type="text" name="query" id="">
        <input type="submit" value="Consultar">
    </form>

    
    {% block content %}
        {% if predictin %}
            <p><b>Resultado da classificação</b></p>
            <p>{{ predictin }}</p>
        {%endif%}
    {% endblock %}
</body>
</html>