{% extends 'base.html' %}

{% block content %}

<div class="container">  
    <h2>{% block title %} Notícia {% endblock %}</h2>

    <p class="container">O classificado de notícia foi treinado para identificar se a notícia pertence as seguites classes:<br> <b>Carros, Economia, Educação, Esporte, Musica e Política </b></p>
    
    <form method="post">

        <div class="form-group">
            <textarea name="query" placeholder="Informe uma Notícia"
                    class="form-control">{{ request.form['query'] }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Consultar</button>
        </div>
    </form>

</div>
{% if predictin %}
    
    <label><b>Resultado da classificação:</b> {{ predictin }} </label>

{%endif%}

{% endblock %}


